# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.idea/
.vscode/

# MkDocs
site/

# Chrome
chrome-win/

# Misc
*.log
.DS_Store